.heading
{
    color: white;
    font-family: cursive;
}

div
{
    background-color: grey;
    width: 100%;
}

.button
{
    margin-top: 30px;
    width: 100px;
    font-weight: bolder;
}

#bottom
{
    background-color: grey;
    height: 50px;
}

h3 {
    color: white;
}

body{
    background-color: rgba(128, 128, 128, 0.2);
    font-family: 'Roboto Slab', serif;
}

.footer 
{
    position: fixed;
    bottom: 0px;
    text-shadow: 5px 5px 5px rgb(151,149,149);
}